.hero-image{
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://res.cloudinary.com/dgarsqfvl/image/upload/v1717068882/healthmate-images/Landingpage_image_r3kvjm.png');
}
.hero-image::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, .5); */
}
.hero-content{
    position: relative;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}
.hero-content-inner h2{
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}
.hero-content-inner p{
    width: 75%;
    margin: 0 auto;
    font-size: 20px;
    font-weight: normal;
    color: black;
    line-height: 22px;
}
.hero-content-inner button{
    width: 170px;
    height: 50px;
    margin-top: 40px;
    border-radius: 50px;
    outline: none;
    font-size: 15px;
    text-transform: capitalize;
    background-color: white;
    color: black;
    box-shadow: 0 0 30px rgba(0,0,0,.3);
    border: 2px solid transparent;
    cursor: pointer;
    transition: all ease .2s;
}
.hero-content-inner button:hover{
    border-color: white;
    color: white;
    background: black;
}
@media(max-width:768px){
    .hero-content{
        width: 100%;
        padding: 0 30px;
    }
    .hero-content-inner h2{
        font-size: 30px;
    }
    .hero-content-inner p{
        width: 100%;
        font-size: 13px;
        line-height: 22px;
    }
}

.bannerImg > img{
    width: 100%;
    height:600px;
    /* position : absolute; */
    /* left:0; */
}

.bannerText{
    font-size : 50px;
    padding : 20px;
    /* position:relative; */
    text-align : center;
    font-weight:500;
    width:800px;
}

.features button{
    margin:10px;
    padding:15px;
    font-size:20px;
    cursor : pointer
}
.try{
    font-size:18px;
    margin-top:5%;
}
.heading{
    font-size : 35px;
    font-weight:600;
    text-align:center;
}
.sub-heading{
    font-size : 16px;
    text-align:center;
}
.cards{
    display : flex;
    align-items:center;
    justify-content : space-evenly;   
    margin:20px 0 ;
    flex-wrap:wrap;
}
.cards >*{
    width : 200px;
    border-radius : 30px;
    margin:5px 2px;
}
.testimony{
    font-size:26px;
    font-weight:400;
    text-align:center;
    padding: 50px;
}
.author{
    font-size:18px;
    text-align:center;
}
button{
    color:#28328c;
}
.text-decoration{
    text-decoration: none;
    border-radius : 10px;
}
@media only screen and (max-width: 480px){
    .bannerText{
        font-size : 15px;
        position:relative;
        text-align : left;
    }
    .features button{
        margin:5px;
        padding:10px;
        font-size:10px;
        cursor : pointer
    }
    .try{
        font-size:12px;
        margin-top:5%;
    }
    .testimony{
        font-size:18px;
        font-weight:400;
      
        text-align:center;

    }
}
