.bannerImg > img{
    width: 100%;
    height:400px;
    position : absolute
}
.bannerText{
    color:blue;
    font-size : 50px;
    padding : 20px;
    position:relative;
    text-align : center;
    width:800px;
}
.features button{
    margin:10px;
    padding:15px;
    font-size:20px;
    cursor : pointer
}
.try{
    font-size:18px;
    margin-top:5%;
    color:purple;
}
.heading{
    font-size : 35px;
    font-weight:600;
    text-align:center;
}
.sub-heading{
    font-size : 16px;
    text-align:center;
}
.cards{
    display : flex;
    align-items:center;
    justify-content : space-evenly;   
    margin:20px 0 ;
    flex-wrap:wrap;
}
.cards >*{
    width : 200px;
    border-radius : 30px;
    margin:5px 2px;
}
.testimony>*{
    font-size:26px;
    font-weight:400;
    text-align:center;
    padding: 50px 300px;
}
.author{
    font-size:18px;
    text-align:right;
}