:root {
  --yellow: linear-gradient(180deg, #F8D49A -146.42%, #FAD79D -46.42%);
  --orange: #fca61f;
  --black: #242d49;
  --gray: #788097;
  --purple: linear-gradient(180deg, #BB67FF 0%, #C484F3 100%);
  --pink: #FF919D;
  --glass: rgb(245 246 253);
  ;
  --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
  --activeItem: #f799a354;
}

.MainDash {
  /* padding: 0.5rem 3.5rem; */
  color: var(--black);
  background: rgb(223 222 255);
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
}

.MainDashGlass {
  display: grid;
  height: 97%;
  width: 97%;
  background: var(--glass);
  /* border-radius: 2rem; */
  gap: 16px;
  grid-template-columns: auto 20rem;
  overflow: scroll;
  padding: 10px;
  /* padding-right: 5px; */
  &::-webkit-scrollbar {
    width: 0.5em;
  }
}

@media screen and (max-width: 1200px) {
  .MainDashGlass {
    grid-template-columns: 50% auto;
    overflow-y: scroll;
  }

  .MainDashGlass::-webkit-scrollbar {
    width: 0px;
  }
}

@media screen and (max-width: 768px) {
  .MainDashGlass {
    grid-template-columns: 1fr;
  }
}