.chatPage{
    background-color : rgb(31,29,29);
    width:100vw;
    height:100vh;
    display : flex;
    justify-content:center;
    align-items:center;
}
.leftcontainer{
    flex: 1;
    padding: 5px 8px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* // width: 98%; */
    height: 100%;
    min-width:250px;
    /* // background: #f6f6f7; */
    border-radius: 10px;
    /* // margin: auto auto; */
    margin-top: 14px;
    &::-webkit-scrollbar {
      width: 0px;
    }
    /* // width: ${({ isSelected }) => (isSelected ? '0%' : '100%')}; */
}
.chatContainer{
    background-color : white;
    height : 60%;
    width:50%;
}
.header{
    background-color:blue;
    height:15%;
}
.chatBox{
    height:70%;
    box-sizing:border-box;
}
.inputBox{
    border : 1.5px solid black;
    height:15%;
    box-sizing:border-box;
    display:flex;
}
#chatInput{
    width:80%;
    border : none;
    padding:10px;
    background-color:white;
    box-sizing:border-box;
    outline : none;
    font-size:18px;
}
.sendBtn{
    background-color:blue;
    color:white;
    border:none;
    width:20%;
    transition: all 0.3s;
    cursor:pointer;
}
.sendBtn:hover{
    background-color : #131290;
}
.hide{
    display:none;
    
}
@media only screen and (max-width: 670px){
    
    .leftcontainer{
        height : 100%;
        
    }
    
}