.profilecontainer{
    max-width: 1050px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 10px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.details{
    text-align: left;
    font-size: 14px;
}
.profileImage{
    margin-top: 60px;
    height:200px;
    width:200px;
    background-color:black;
    border-radius:50%;
}
.profileImage img{
    height:100%;
    border-radius:50%;
}
.detail-heading{
    font-size: 24px;
    font-weight:bold;
    margin-top: 30px;
    margin-bottom: 10px;
}
/* .profileForm{
    border:1px solid red;
}
.profileForm >*{
    margin : 10px;
}
.profileForm label{
    color:red;
    padding : 3px;
    display:inline;
}
.profileForm input{
    border-bottom:2px solid black;
    padding : 3px ;
    width:auto;
    margin: 10px 30px;
} */