.profilecontainer{
    max-width: 1050px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 10px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.details{
    text-align: left;
    font-size: 20px;
}

.form-label{
    font-size : 16px;
    font-weight : 600;
}

.profileImage{
    height:200px;
    width:200px;
    border-radius:50%;
}
.profileImage img{
    height:100%;
    width:100%;
    border-radius:50%;
}
.detail-heading{
    font-size: 24px;
    font-weight:bold;
    margin-top: 56px;
    margin-bottom: 10px;
}