.container{
    height:240px ;
    width:120px;
    display : flex;
    align-items : center;
    justify-content : center;
    background-color:#ede8e8;
    flex-direction : column;
    postion : absolute;
    cursor : pointer;
    padding:10px 4px;
}
.image{
    height:140px ;
    width : 140px;
    
}
.image > img{
    height : 100%;
    width: 100%;
    border-radius:50%;
}
.disease{
    text-align: center;
    font-size:18px;
    font-weight:500;
    padding:2px 8px;
}
.consult{
    font-size : 18px;
    font-weight : 500;
    color:blue;
    postion:relative;
}