.footer{
    background-color:#28328c;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap : wrap; 
    padding:20px;
    width:100%;
}
.section{
    padding:5px;
    height:250px;
}
.section >*{
    font-size:14px;
   
}
.section > h4{
    font-weight:600;
    font-size:15px;
}
.section >p{
    line-height:1rem;
}
